.homePage {
  background-image: url(C:\Users\ירוסלבסקי\Documents\hackeru\project_react_finish\project-react\public\img\business-card-gbef37e040_1920.jpg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-size: 80%;
  height: 80vh;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.homePage, h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wraper {

}
